*{
box-sizing:border-box;
}



body{

margin:0;

background:
radial-gradient(circle at top,#182848,#020617);

font-family:
Arial,
sans-serif;

color:white;

}



.page{

min-height:100vh;

padding:50px;


}



h1{

font-size:48px;

letter-spacing:5px;

color:#00ffff;

text-shadow:
0 0 20px #00ffff;


}



.subtitle{

color:#94a3b8;

font-size:20px;

}



.workspace{

display:grid;

grid-template-columns:
300px
1fr;


gap:30px;

margin-top:40px;


}



.panel{


background:
rgba(255,255,255,0.05);


border:

1px solid

rgba(255,255,255,.15);


border-radius:20px;


padding:30px;


backdrop-filter:
blur(20px);


}



.upload{


display:block;

padding:15px;

background:#00ffff;

color:black;

border-radius:10px;

text-align:center;

cursor:pointer;

margin-bottom:20px;


}


.upload input{

display:none;

}



.preview{


width:100%;

border-radius:15px;

margin-top:20px;


}



button{


width:100%;

margin-top:30px;

padding:15px;


border:0;

border-radius:10px;


background:

linear-gradient(
90deg,
#00ffff,
#2563eb
);


font-size:18px;


cursor:pointer;


}



.center{


min-height:600px;

display:flex;

align-items:center;

justify-content:center;


}



.idle{

font-size:40px;

color:#64748b;


}



.loading{

text-align:center;


}



.scanner{


width:200px;

height:200px;


border-radius:50%;


border:

4px solid #00ffff;


animation:

rotate 2s linear infinite;


box-shadow:

0 0 50px #00ffff;


margin:auto;


}



@keyframes rotate{


from{

transform:rotate(0deg);

}


to{

transform:rotate(360deg);

}


}





.bar{


width:400px;

height:15px;


background:#111827;


border-radius:20px;


overflow:hidden;


margin:30px auto;


}



.barInner{


height:100%;


background:

linear-gradient(
90deg,
#00ffff,
#2563eb
);


transition:.5s;


}



.steps{


color:#00ffff;

font-size:18px;


}



.modelBox{


width:100%;

height:600px;


}



canvas{


border-radius:20px;


}
