body{

margin:0;

background:#050816;

color:white;

font-family:
Arial,
sans-serif;

}



.page{

min-height:100vh;

padding:50px;

}



h1{

font-size:48px;

letter-spacing:5px;

}



.sub{

color:#aaa;

}



.upload{

margin-top:40px;

}



button{

background:#00eaff;

border:none;

padding:15px 40px;

border-radius:30px;

cursor:pointer;

}



.ai-box{

margin-top:50px;

padding:40px;

border:1px solid #0ff;

background:#08111f;

}



.scan{

height:200px;

background:

linear-gradient(
90deg,
transparent,
#00ffff,
transparent
);

animation:

scan 2s infinite;

}



@keyframes scan{

from{

transform:translateX(-100%);

}

to{

transform:translateX(100%);

}

}



.bar{

height:12px;

background:#222;

border-radius:10px;

overflow:hidden;

}



.bar div{

height:100%;

background:#00ffff;

}



.viewer{

height:600px;

margin-top:30px;

border:1px solid #333;

}
